/* bootstrap_lux.css   */
/* Made by Thomas Park */
@import url('bootstrap_lux.css');

/* Made Dariusz Rak  */
/* edit boostrap_lux */
.table-light,
.table-light > th,
.table-light > td {
  background-color: #f6f6f6;
}

h1, h2, h3, h4, h5 {
    text-transform: none;
}
.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #158CBA;
    color: white;
}

.navbar-brand{
    white-space: normal;
    text-align: left;
    max-width: 340px;
}


@media only screen and (max-width: 470px){
.navbar-brand{
    text-align: right;
}
}

/* own settings */

#content-fluid-bg{
    background-color: #f4f4f9;
}

#content-header{
    margin-top: -15px;
    position: relative;
}

#content-header div {
    display: inline-block;
}

div.container div a.btn, div button.btn {
    width:100%;
    max-width: 220px;
    vertical-align: middle; 
}


#search_input{
    width:100%;
    max-width: 220px;

}

th, td {
    padding: 1rem;
    border: 1px solid #eceeef !important;

} 

tr.table-primary td{ 
    border-top: 0px solid #158cba !important;
    border-left: 1px solid #158cba !important;
    border-right: 1px solid #158cba !important;
}


@media screen and (min-width: 801px) {
  h2 {
    font-size: 2rem;			/*h2 32px*/
  }
}


@media screen and (max-width: 800px) {
  h2 {
    font-size: 1.75rem 			/*h3 28px*/
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 1.5rem			/*h4 24px;*/
  }
}


@media screen and (min-width: 801px) {
  h3 {
    font-size: 1.75rem 			/*h3 28px*/
  }
}


@media screen and (max-width: 800px) {
  h3 {
    font-size: 1.5rem			/*h4 24px;*/
  }
}

@media screen and (max-width: 480px) {
  h3 {
    font-size: 1.25rem;			/*h5 20px*/
  }
}


@media screen and (min-width: 801px) {
  h4 {
    font-size: 1.5rem			/*h4 24px;*/
  }
}


@media screen and (max-width: 800px) {
  h4 {
    font-size: 1.25rem;			/*h5 20px*/
  }
}

@media screen and (max-width: 480px) {
  h4 {
    font-size: 1rem;			/*h6 16px*/
  }
}